*{
    box-sizing: border-box;
}
div{
    width: 50px;
    height: 50px;
    border: 10px solid #E61256;
    border-bottom-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: ahmed;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
div::before
,div::after{
    content: "";
    border-radius: 50%;
    position: absolute;
}
div::after{
    width: calc(100% + 30px);
    height: calc(100% + 30px);;
    border: 10px solid #2296F4;
    border-left-color: white;
    animation-name: ahmed;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
div::before{
    width: calc(100% + 60px);
    height: calc(100% + 60px);
    border: 10px solid #FF5722;
    border-right-color: white;
    animation-name: ahmed;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
div:hover,
div:hover::after
,div:hover::before{
    animation-play-state: paused;
}
@keyframes ahmed{
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}