div{
    width: 400px;
    height: 400px;
    background-image: url(css-assignment-5-8.png);
    color: white;
    background-color: #EEE;
}
.assign-4-shape-1{
    background-repeat: no-repeat;
    background-size: 80%;
}
.assign-4-shape-2{
    background-repeat: repeat-y;
    background-position: right;
    margin-right: 10px;
}
.assign-4-shape-3{
    background-repeat: repeat-x;
    background-position: bottom;
    margin-top: 10px;
}
.assign-4-shape-4{
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: bottom right;
}
