div{
    color: white;
    margin: auto;
    width: 500px;
    padding: 20px;
    background-color: blueviolet;
    background-color: #8a2be2;
    background-color: hsl(271, 76%, 53%);
    background-color: rgb(138, 43, 226);
}
.assign-1-shape-1{
}
.assign-1-shape-2{
    opacity: 50%;
}
.assign-1-shape-3{
    opacity: 30%;
}