.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-rows: 1fr auto;
    gap: 10px;
}
.grid div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #403F3F;
    color: white;
    font-weight: bold;
}