.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 3fr;
    gap: 10px;
}
.grid div{
    background-color: #607D8B;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.element1::before{
    content: "Element 1";
}
.element2::before{
    content: "Element 2";
}
.element3::before{
    content: "Element 3";
}
.element4::before{
    content: "Element 4";
}
.element5::before{
    content: "Element 5";
}
.element6::before{
    content: "Element 6";
}

