.flex{
    width: 600px;
    height: 300px;
    background-color: #eee;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
.flex div{
    background-color: #009688;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.one{
    order: 1;
    align-self: end;
    height: 40px;
}
.two{
    order: 2;
    width: 200px;
    align-self: flex-start;
}
.three{
    order: 3;
    align-self: end;
    height: 40px;
}
